$green: #023819;

.home {
    h1 {
        font-family: sans-serif;
        font-size: 5rem;
        // margin: 4rem;
        color: $green;
        position: absolute;
    }
    .main-collage {
        width: 65rem;
        position: absolute;
        right: 5rem;
    }
}