$beige: #eeeae7f4;

.gallery {
    display: flex;
    margin-top: 2rem;
}

.img-wrapper {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 1rem;
    -moz-column-count: 5;
    -moz-column-gap: 1rem;
    column-count: 5;
    column-gap: 1rem;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
}

// .pswp {
//     position: fixed;
//     top: 0;
//     // height: 100vh;
// }

.pswp__img {
    width: 60rem !important;
    height: auto !important;
    position: absolute !important;
    margin: 2rem;
    transition: 0s !important;
}

.arrow {
    width: 4rem;
    cursor: pointer;
}

.carusel {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: $beige;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
    opacity: 0;
    // pointer-events: none;
}

.carusel-img {
    width: 80vw;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // transition: 0.3s;
}

.mirror {
    transform: rotate(180deg);
}

.fade-bottom {
    width: 100vw;
    height: 6rem;
    pointer-events: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(238, 234, 231, 1) 76%);
    position: absolute;
    bottom: 0;
}

.arrow-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    cursor: pointer;
}