// color variables:
$white: white;
$dark: rgb(14, 14, 14);

@font-face {
  font-family: haarlem;
  src: url('./assets/fonts/Haarlem\ Deco\ DEMO.ttf');
}
#root {
  // font-family: haarlem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
